.splash img {
	content: url('/assets/dax_branding/dax-flash-logo.png') !important;
	max-width: 150px !important;
	max-height: 150px !important;
}

/* Import overrides (fonts, additional rules) */
@import url('/assets/dax_branding/css/dax_overrides.css');

/* Custom Navbar Background Color (Uncomment and edit to use) */

.navbar {
	background-color: #f6923b !important;
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .dropdown-toggle {
	color: #ffffff !important;
}

